# Entorno virtual
flightprice_env/

# Archivos temporales de Python
__pycache__/
*.pyc

# Notebooks checkpoints
.ipynb_checkpoints/

# Modelos y datos grandes
*.h5
*.npy
*.parquet
*.csv

# VS Code settings (opcional)
.vscode/
